.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Input {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  color: white;
}

.PageTitle {
  font-size: calc(12px + 2vmin);
  margin-top: 50px;
}

.UserInput {
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.HeaderButtons {
  flex-direction: row;

  margin-bottom: 20px;
}

.ArticleDisplay {
  align-items: center;
  justify-content: center;
  display:flex;
  margin: 30px;
}

.Article {
  font-family: Courier, monospace;
  background-color: #F5F5F5;
  width: 60%;
  align-self: center;
  padding: 20px;
  text-align: left;
}

.ExplanationType {
  margin-top: 30px;
  margin-bottom:30px;
}

.Prediction{
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 50px;
}


.InfoIcon {
  display: inline;
  margin-left: 5px;
}

.Support {
  align-items: center;
  justify-content: center;
}

.ArgumentsList{
  justify-content: center;
  align-items: center;
}

.Arguments{
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.Argument{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}

.MoreLessButtonGroup {
  justify-content: center;
}

.Explanation {
  padding: 10px;
  border-style: solid solid none solid;
  border-radius: 5px 5px 0px 0px;
  border-color: #F5F5F5;
  /* overflow: auto; */
  width:100%;
}



.WordsExplanation {
  padding: 10px;
  border-style: solid solid none solid;
  border-color: #F5F5F5;
}

.BasicExplanation {
    padding: 10px;
    display: block;
    margin-left:30px;
    margin-right:30px;
}


.WhyWhyNot {
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.FiltersBlock {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
}

.FilterList {
  width: 80%;
}

.Filters {
  margin: 2rem;
}

.Filter {
  width: 0.3;
}

.FiltersMoreLessButtonsGroup {
  align-self: end;
  width:100%;
  padding:10px;
}

.FilterExplanation {
  margin: 15px;
}

.GoDeeperButtonGroup {
  margin: 15px;
}

.MoreLessButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:15px;
}

.WelcomeMessage {
  color: #808080;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  height:400px;
  display: flex;
  flex-direction: column;
}


.WordButton {
  margin-bottom:5px;
  display: inline-block;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
